*{
    margin: 0;
    padding: 0;
}
body{
 text-align: center;
 align-items: center;
}
.title{
    height: 10vmin;
    background-color: #081b31;
    color: #fff;
    font-size: 2.5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    height: 40vmin;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-box{
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
}
.image-box:hover{
    cursor: pointer;
   border: 5px,solid,#081b31;
}
.img-1{
    background-image: url(rock.png);
    background-size: cover;
    background-position: center; 
}
.img-2{
    background-image: url(paper.png);
    background-size: cover;
    background-position: center; 
}
.img-3{
    background-image: url(scissors.png);
    background-size: cover;
    background-position: center; 
}
.score{
    height: 80-vmin;
    
}
.scoreboard{
    display: flex;
    justify-content: center;
    font-size: 4vmin;
    gap: 50px;
   
}
.winner-box{
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.winner{
    height: 70px;
    width: 600px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
